*{
    margin: 0;
    color: #575279;
}
.grid_body{
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'header main';
}

header{
    display: grid;
    grid-area: header;
    background-color: #f2e9de;
    height: 100vh;
}

h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    font-size: 1.5rem;
    list-style: none;
    line-height: 2rem;
}

main{
    display: grid;
    grid-area: main;
    height: 100vh;
    background-color: #fffaf3;
    width: 100%;
    padding-left: 70px;
}

.existing_contact{
    margin-top: 20px;
    display: grid;
    width: 33%;
    min-height: 25vh;
    max-height: 50vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20px 3fr 5fr 2fr;
    grid-template-areas:
        'margin Image'
        'Info Image'
        'Info blank'
        'Info blank';
}

.contact_info{
    grid-area: Info;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
    }

/*.contact_info{
    grid-area: Info;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    list-style: none;
    text-align: justify;
    align-items: center;
}*/

.button_line{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.button{
    background-color: #56949f;
    border-radius: 4px;
    padding: 5px 10px;
}

.close{
    background-color: #9893a5;
}

.cancel{
    background-color: #b4637a;
}

img{
    grid-area: Image;
    border-radius: 100%;
    max-width: 150px;
    overflow: hidden;
    min-height: 150px;
}

a{
    text-decoration: none;
}

.create_contact{
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
    max-height: 50vh;
}

input[type="text"]{
    height: 1.5rem;
}