*{
    margin: 0;
    color: #575279;
    height: fit-content;
}
.grid_body{
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'header main';
}

a{
    text-decoration: none;
}

.button_line{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.button{
    background-color: #56949f;
    border-radius: 4px;
    padding: 5px 10px;
}



/*Navbar*/
header{
    display: grid;
    grid-area: header;
    background-color: #f2e9de;
    height: 100%;
}

h1{
    font-size: 3rem;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    font-size: 1.5rem;
    list-style: none;
    line-height: 2rem;
}



/*Contents Area*/
main{
    display: grid;
    grid-area: main;
    height: 100vh;
    background-color: #fffaf3;
    width: 100%;
    padding-left: 70px;
    padding-top: 40px;
}

.contact_img{
    grid-area: Image;
    clip-path: circle();
    width: 150px;
    height: auto;
}


/*Display Contacts*/
.gallery{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}
.gallery_box{
    height: 100%;
    width: 100%;
}



/*Existing Contact Information*/
.existing_contact{
    display: grid;
    width: 33%;
    max-height: 50%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 3fr 5fr 2fr;
    grid-template-areas:
        'offset Image'
        'Info Image'
        'Info blank'
        'Info blank';
}

.contact_info{
    grid-area: Info;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-evenly;
}

.close{
    background-color: #9893a5;
}


/*Creating Contact*/
input[type="text"]{
    height: 1.5rem;
}

.cancel{
    background-color: #b4637a;
}

.create_contact{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    max-height: 50%;
}